$danger: #e51b1b;
$success: #379c55;
$info: #2d94d8;
$warning: #e4d237;

//verdes
$verde100: #66873c;
$verde200: #8cc740;
$verde300: #d9e58f;
$verde400: #f1f6cd;

//laranjas
$laranja100: #b47732;
$laranja200: #ff9e29;
$laranja300: #ffb154;
$laranja400: #ffcf96;

//amarelos
$amarelo100: #77673f;
$amarelo200: #d9ac37;
$amarelo300: #efe2ae;
$amarelo400: #f7f0d6;

//cinzas
$preto: #3f413d;
$cinza200: #636663;
$cinza300: #c8c8c8;
$cinza400: #efefef;
$branco: #ffffff;

$font-size-base: 1rem;

$h1-font-size: $font-size-base * 5;
$h2-font-size: $font-size-base * 3.7;
$h3-font-size: $font-size-base * 2.3;
$h4-font-size: $font-size-base * 1.75;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base * 0.8;

$input-placeholder-color: rgba(0,0,0,0.2);